{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>My Gallery</title>
  {% else %}
    <title>My Gallery </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  {% endblock %}

</head>
<body>
  {% include "navbar.html" %}
    {% block content %} 
    <h1 class='text-center'>My Gallery</h1> 
    <h3 class='text-center'><small>Photography is an austere and blazing poetry of the real.</small></h3>
    {% for image in image %}

    <div class="row">
      <!-- displaying News articles -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        <h2 class="text-center"> {{ image.picture }} </h2>
      </div>
  
      Display images
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img src="{{image.picture.url}}" class="img-responsive" alt="Image">
      </div>
  
    </div>
    {% endfor %}
    {%endblock%}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
    <img src="{{image.picture.url}}" class="img-responsive" alt="Image">
    
    
</body>
</html>